@import '~antd/dist/antd.css';
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#5c93ed, #c7d3e8, #d5deed);
  font-family: "Roboto", "Charm", "Cuprum", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
